body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 10pt;
}

#container {
    display: block;
    margin-left: 100px;
    margin-right: 100px;
}

#top_container {
    display: flex;
    justify-content: space-between;
    height: 200px;
    margin-top: 50px;
    background-image: url("/images/cardswitcherLogo.png");
    background-repeat: no-repeat;
    background-size: 25%;
}

#nav_container {
    display: flex;
    justify-content: flex-end;
    height: 50px;
}

#main_container {
    margin-top: 50px;
    display: block;
}

#footer_container {
    display: flex;
    justify-content: space-between;
}

button {
    border-radius: 8px;
    background-color: dodgerblue;
    /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    padding: 10px 24px;
    transition-duration: 0.4s;
    margin-right: 20px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button:hover,
input[type=submit]:hover {
    background-color: #3e8e41
}

button:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#myInput {
    align-content: flex-start;
    background-position: 2px 2px;
    /* Position the search icon */
    background-repeat: no-repeat;
    /* Do not repeat the icon image */
    width: 15%;
    /* Full-width */
    font-size: 14px;
    /* Increase font-size */
    padding: 12px 20px 12px 40px;
    /* Add some padding */
    border: 1px solid #ddd;
    /* Add a grey border */
    margin-bottom: 12px
    /* Add some space below the input */
}

#myTable {
    border-collapse: collapse;
    /* Collapse borders */
    width: 80%;
    /* Full-width */
    border: 1px solid #ddd;
    /* Add a grey border */
    font-size: 16px;
    /* Increase font-size */
}

#myTable th,
#myTable td {
    text-align: left;
    /* Left-align text */
    padding: 12px;
    /* Add padding */
}

#myTable tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd;
}

#myTable th,
#myTable tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
}